# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Database
database/*.db

# Node
node_modules/
frontend/build/
frontend/.env.local
frontend/.env.production.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
